<div class="hero">
    <br>
    <div class="frosty col-10 offset-1 text center">
        <br>
        <h1>Creating Personal Financial Harmony</h1>
        <br>
        <h2>Paycheck to Paycheck fades to Guilt-Free Spending</h2>
        <br>
        <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
        <br><br>
    </div>
</div>
<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Innovative Courses</h3>
    <br>
    <p>Choose from a variety of courses with amazing teachers</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Interactive Budgeting</h3>
    <br>
    <p>Take advantage of our web-based budgeting toolkit to help you!</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Join Our Community</h3>
    <br>
    <p>Learn with a community of like-minded individuals</p>
  </div>
</div>