<br>

<div class="booyah-box col-10 offset-1">
    <h1>Privacy Policy</h1>

    <p>
        Privacy is great. Never join a website without reading all of it. Here, however, we're just in it for the fun. Here ya go... 
        <br>
        Use a fake email, use 4242-4242-4242-4242 and any expiration date and CVV code (that's the test credit card number to "pay").
        <br>
        I invited you here to take a look at my latest project, not to worry about your info being stolen. Thanks for your support!
    </p>
</div>