<br>

<div class="booyah-box col-10 offset-1">
    <h1>Team</h1>

    <p>
        Jocelyn Mellein is a newbie coder, mom of 3 and partner to another awesome developer. Working through a coding bootcamp right now, she is intent on changing her career upon completion of the camp and already has ideas about new apps to build and bring to market. Her ability to work through complex problems and multi-task (hello, motherhood?) will serve her well in her upcoming endevour. 
        <br>
        This web app was built with the ideas in mind that came from Jocelyn's own desire to live debt-free. After study and many failures, she finally was able to get out of debt and save for a life-changing trip with her partner to Europe. More people should be able to learn those concepts! When the class offered an app to teach courses, her first idea was teaching people a better way to budget and live without the worry of making their bills.
        <br>
        Cheers!    
    </p>
</div>